name: 'basic static site deployment'

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build static site
        run: bun run build

      - name: Upload to PGS
        uses: picosh/pgs-action@v3
        with:
          user: m1n
          key: ${{ secrets.PRIVATE_KEY }}
          src: './out/'
          project: 'land'
